<ul class="page-tree">
  {foreach $nodes as $page}
    <li class="page-item">
      <a class="page-link" href="/core/pages/edit?id={$page->id}">
        {$page->title|escape}
      </a>
      {if !empty($page->children)}
        {include 'pageTree.latte' nodes => $page->children}
      {/if}
    </li>
  {/foreach}
</ul>
