{extends '../@layout.latte'}

{block title}
    
{/block}

{block additionalCSS}
    <link rel="stylesheet" href="/Resources/assets/css/construction.css" />
{/block}

{block content}
    <span id="dstwre" class="chromatic">.dstwre</span>
    <p id="desc" class="chromatic">{ under construction }</p>
{/block}

{block footer}
    {include 'partials/footer.latte'}
{/block}
