
<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="/Resources/assets/css/main.css" />
		{block additionalCSS}{/block}
        <title>{block title|stripHtml|trim}{/block} - __frgmnt</title>    
		<link rel="icon" type="image/x-icon" href="Resources/assets/logos/favicon.ico">
	</head> 

	<body>
    	<!-- {include 'header.latte'} -->


		<main class="content-wrap">
			{block content}{/block}
		</main>

		<footer class="footer-wrap">
            <div class="max-width-layout">
			    {include 'footer.latte'}
            </div>
		</footer>
        <script  src="/Resources/assets/js/main.js"></script>
	</body>
</html>