{block footer}
    &copy; Copyright {=date('Y')} by <a href="https://github.com/akkiirah">akkiirah</a>

    <span>
        powered by
        <a
          data-text="__frgmnt"
          href="https://github.com/akkiirah/__frgmnt"
          title="External Link to GitHub"
          class="chromatic"
          target="_blank" 
          >__frgmnt</a
        >
      </span>
{/block} 